body{
  background: #4d4dff;
  font-family: Helvetica;
  text-align: center;
  
}
#title{ font-size: 35px;
        font-weight: bold;
        text-align: center;
        }

#description {
  font-size: 1.5em;
}
#form-outer{
  background:  #8080ff;
  border-radius: 50px;
  width: 80%;
  padding: 10px;
  margin: 0 auto;
}
.row{
  padding: 7px;
  margin-top: 5px;
  
}
.radio, .checkbox{
  
  margin-left: 0px,
  display: block;
  padding: 5px;
  margin-right: 5px;
}

#submit{
  background-color:#000080;
  border-radius: 5px;
  color: white;
  font-size:1em;
  height: 40px;
  width: 95px;
  margin: 10px;
  border: 0px solid;
}


#tr{
  margin-left:-150px;
  font-size:1.2em;
}
#sr{
  margin-left:-270px;
  font-size:1.2em;
}
#rr{
  margin-left:-80px;
  font-size:1.2em;
}
#tt {
  margin-left:-120px;
  font-size:1.2em;
}
